html, body{
  
  background-image: url("new.jpg")  ;

  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  color: wheat;
  font-family: 'Gill Sans';
}
h2 {
  color: darkred;
}

